*.csv
*.pkl
*.parquet
External*.xlsx
Internal*.xlsx
Unseen*.xlsx
Performance_All.zip
Data/home-credit-default-risk
*ag_models*
*.vtt
*.mp4
*.zip
Lectures/augmented_all_bad_model/*
Lectures/augmented_bureau_proxy_model/*
Lectures/kgb_model/*
.DS_Store
